@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
   
}
:root{
    --green--clr:#DFFE02;
    --gray-clr:#898989;
    --dark-blue-clr:#171C22;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.bg-green{
    background: var(--green--clr);
}
.bg-dark-blue{
    background: var(--dark-blue-clr);
}
.txt-green{
    color: var(--green--clr);
}
.txt-gray{
    color: var(--gray-clr);
}
img{
    max-width: 100%;
    height: 100%;
}
.navbar-logo{
    width: 2.8rem;
}
.mybtn
{
    background-color: greenyellow;
    border: .1rem solid var(--green--clr) !important;
    padding: 0.5rem 1.6rem;
}
.mybtn:hover{
    background-color:green;
    color: var(--green--clr) !important;
}
#bg{
    background-color: #b2744c;
}
.b{
    background-color: black;
}
.image-container{
    background-image: url(image/im.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 0 0 1rem white, 
    inset 0 0 1rem white,
    0 0 2rem var(--green--clr),
    inset 0 0 2rem var(--green--clr),
    0 0 7rem var(--green--clr),
    inset 0 0 2rem var(--green--clr);

    width: 25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
}
.hero-section{
   min-height:88vh;
}
h1{
    font-size: 4rem;
    font-family: "Merriweather Sans", sans-serif;
}
p{
    font-size: .95rem;
}
.para{
    max-width: 500px;
}
.main-txt{
    letter-spacing: .2rem;
    font-size: .8rem;
}

@media screen and (max-width:680px){
    h1{
        font-size: 2.8rem;
    }
    .image-container{
        width: 20rem;
    }
    .hero-section{
        min-height: 72vh;
    }
    #about-me{
        width: 40rem;

    }
}
.se{
    background-color: black;
}
#section-container{
    padding-block: 5rem;
}

#glow{
    position: relative;
}
#glow::before{
    content: "";
    background: var(--green--clr);
    left: 0;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    filter: blur(80px);
}
#b{
    background-color: black;
}